<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" />

</head>
<body>
    <header>
        <div class="container">
            <p class="logo">PROGRAMA YA</p>
            <nav>
                <div class="user-menu">
                    <i class="fas fa-user" id="user-icon"></i>
                    <div class="dropdown-menu" id="dropdown-menu">
                        <a href="/">Cerrar Sesión</a>
                        <a href="#">Configuración</a>
                        <a href="#">Privacidad</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <br><br><br>
    <section id="titulo">
        <h1>listo a codiar.!!</h1>
    </section>
    <section id="tutoriales">
        <div>
    
            <img src="https://media.licdn.com/dms/image/D4D03AQHJNFBff1MxFg/profile-displayphoto-shrink_200_200/0/1690672169212?e=2147483647&v=beta&t=0_loyshaJeiA60B_yIVYSDI61AXWiFRb6eRc1sbXIdg" alt="">;
        </div>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kN1XP-Bef7w?si=ErpU8WC47KMxQW2-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>;
        </div>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3L9XRF-7fZk?si=S8Gr-dRpypMq5GW1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <a href="/">Salir</a>

    </section>
    
</body>
</html>