<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi página web de comercio</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" />
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">PROGRAMA YA</p>
            <nav>
                <a href="#">Que queremos</a>
                <a href="#">Que buscamos</a>
                <a href="./login">Iniciar sesión</a>
                <a href="./add">Crear usuario</a>
            </nav>
        </div>
    </header>
    <section id="hero">
        <h1>Aprende a Programar <br> con los Mejores </h1>
        <a href="./add"><button>HACE CLICK ACA!</button></a>
    </section>
    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
                <h2>Somos <span class="color-programaYa">ProgramaYa</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure accusantium dignissimos repellat minus? Expedita, ad accusantium minus aut fugiat nostrum error molestiae repellat aliquid mollitia ea commodi deleniti culpa. Odio.</p>
            </div>
        </div>
    </section>
    <section id="nuestros-programas">
        <div class="container">    
            <h2>NUESTROS PROGRAMAS</h2>
            <div class="programas">
                <div class="carta">
                    <h3>Programador Front-end</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur recusandae, sit veritatis placeat illum rem aut! In dolores voluptatum eaque, unde perspiciatis laboriosam quidem? Asperiores est similique illum totam saepe!</p>
                    <button>+info</button>
                </div>
                <div class="carta">
                    <h3>Programador Back-end</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur recusandae, sit veritatis placeat illum rem aut! In dolores voluptatum eaque, unde perspiciatis laboriosam quidem? Asperiores est similique illum totam saepe!</p>
                    <button>+info</button>
                </div>
                <div class="carta">
                    <h3>Programador Python</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur recusandae, sit veritatis placeat illum rem aut! In dolores voluptatum eaque, unde perspiciatis laboriosam quidem? Asperiores est similique illum totam saepe!</p>
                    <button>+info</button>
                </div>
            </div>
        </div>
    </section>
    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li>100% Online</li>
                <li>Flexibilidad Horaria</li>
                <li>Soporte 1:1</li>
                <li>Asistencia financiera</li>
            </ul>
        </div>
    </section>
    <section id="aplica-ya">
        <h2>Listo para Programar</h2>
        <a href="./add"><button>APLICA YA!</button></a>
    </section>
    <footer>
        <div class="container">
            <p>&copy; Programa YA</p>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-github"></i> 

        </div>
    </footer>    
</body>
</html>
