<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi página web de comercio</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" />
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">PROGRAMA YA</p>
            <nav>
                <a href="#">Que queremos</a>
                <a href="./users">Nuestros Usuarios</a>
                <a href="./login">Iniciar sesión</a>
                <a href="./add">Crear usuario</a>
            </nav>
        </div>
    </header>
    <section id="hero">
        <h1>Aprende a Programar <br> con los Mejores </h1>
        <a href="./add"><button>HACE CLICK ACA!</button></a>
    </section>
    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
                <h2>Somos <span class="color-programaYa">ProgramaYa</span></h2>
                <p>Programa Ya es una comunidad de desarrolladores abierta que busca aunar en un único lugar y totalmente gratis todo lo que un desarrollador necesita: Formación de calidad para todos los niveles y especializaciones, oportunidades de empleo para mejorar en tu carrera, certificaciones de peso que acrediten tus conocimientos, resolución de dudas, posibilidad de participar en grandes proyectos y mucho más.</p>
            </div>
        </div>
    </section>
    <section id="nuestros-programas">
        <div class="container">    
            <h2>NUESTROS PROGRAMAS</h2>
            <div class="programas">
                <div class="carta">
                    <h3>Programador Front-end</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur recusandae, sit veritatis placeat illum rem aut! In dolores voluptatum eaque, unde perspiciatis laboriosam quidem? Asperiores est similique illum totam saepe!</p>
                    <a href="https://www.arimetrics.com/glosario-digital/frontend" target="_blank"><button>+info</button></a>
                </div>
                <div class="carta">
                    <h3>Programador Back-end</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur recusandae, sit veritatis placeat illum rem aut! In dolores voluptatum eaque, unde perspiciatis laboriosam quidem? Asperiores est similique illum totam saepe!</p>
                    <a href="https://www.arimetrics.com/glosario-digital/backend" target="_blank" ><button>+info</button></a>
                </div>
                <div class="carta">
                    <h3>Programador Python</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur recusandae, sit veritatis placeat illum rem aut! In dolores voluptatum eaque, unde perspiciatis laboriosam quidem? Asperiores est similique illum totam saepe!</p>
                    <a href="https://www.python.org/" target="_blank"><button>+info</button></a>
                    
                </div>
            </div>
        </div>
    </section>
    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li>100% Online</li>
                <li>Flexibilidad Horaria</li>
                <li>Soporte 1:1</li>
                <li>Asistencia financiera</li>
            </ul>
        </div>
    </section>
    <section id="aplica-ya">
        <h2>Listo para Programar</h2>
        <a href="./add"><button>APLICA YA!</button></a>
    </section>
    <footer>
        <div class="container">
            <p>&copy; Programa YA</p>
            <a href="https://www.facebook.com/leonel.carcereri/" target="_blank"><i class="fab fa-facebook"></i></a>
            <i class="fab fa-instagram"></i>
            <a href="https://github.com/LeonelMauro" target="_blank"><i class="fab fa-github"></i> </a>
            
        </div>
    </footer>    
</body>
</html>
